# 10. Write a python program to scrape ‘data scientist’ job listings for location ‘Chennai’ from ‘Monster.com’. It should include all the jobs listed for the next 5 pages.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver = webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")

In [3]:
url = "https://www.monsterindia.com/srp/results?query=data%20scientist&locations=Chennai&searchId=e53ed342-6c83-4050-af91-4682f0e89614"

In [4]:
driver.get(url)
import time

In [5]:
job=[]
company=[]
location=[]
experience=[]

for i in range(0,5):
    job_tags=driver.find_elements_by_xpath("//div[@class='job-tittle']/h3")
   
    for i in job_tags:
        job.append(i.text)
     #########
    company_tags=driver.find_elements_by_xpath("//span[@class='company-name']")

    for i in company_tags:
        company.append(i.text)
#     ########
    location_tags=driver.find_elements_by_xpath("//*[@id='srp-right-part']/div/div[1]/div[1]/div[3]/div/div/div/div/div/div/div/div[1]/span/small")
    
    for i in location_tags:
        location.append(i.text)
    
#     #########
    experience_tags=driver.find_elements_by_xpath("//*[@id='srp-right-part']/div/div[1]/div[1]/div[3]/div/div/div/div/div/div/div/div[2]/span/small")
    experience_tags=driver.find_elements_by_xpath("//div[@class='job-tittle']//div[@class='exp col-xxs-12 col-sm-3 text-ellipsis']//span[@class='loc']")        

    for i in experience_tags:
        if i.text="":
            experience.append("")
        experience.append(i.text)

    driver.find_element_by_xpath("//button[@class='btn-next-prev btn-next']").click()
    time.sleep(5)

# Since the Experience length is not matching the other feature length and the missing data of exact company is not determined. Not including the experience column in the final DataFrame

In [15]:
len(job),len(company),len(location),len(experience)

(126, 126, 126, 115)

In [8]:
jobinCompany=pd.DataFrame({})

jobinCompany["Job Title"]=job
jobinCompany["Company name"]=company
jobinCompany["location"]=location
#jobinCompany["experience"]=experience

In [9]:
jobinCompany

,Job Title,Company name,location
0,Clinical Trial Database Analyst (SPOTFIRE)\nsp...,Cognizant Technology Solutions India Pvt Ltd,"Bengaluru / Bangalore, Chennai"
1,FREELANCE DATA ENTRY JOB / ONLINE WORK FROM HOME,Resume Filling,"Chennai, Coimbatore"
2,FREELANCE DATA ENTRY JOB / ONLINE WORK FROM HOME,Resume Filling,"Bengaluru / Bangalore, Chennai"
3,Data Acquisition Assistant,Joyamaze India Private Limited,"Chennai, Mumbai"
4,Online Data Entry / Work From Home / TYPING Jops,Resume Filling,"Bengaluru / Bangalore, Chennai"
...,...,...,...
121,Software Testing Engineer - Fresher,Comfyi Solution,Chennai
122,Talend Quality Engineer,Tech Mahindra Limited,"Bengaluru / Bangalore, Chennai"
123,Banking Non Voice Process - Day Shift,MMC Infotech Services Private Limited,Chennai
124,WORK FROM HOME,Unnati Infotech Solution,"Bengaluru / Bangalore, Chennai"
125,Freelancing work for everyone and earn up-to 6...,The tour vacations,"Bengaluru / Bangalore, Chennai"

In [13]:
test_experience=[]
for i in range(0,5):
    test_experience_tags=driver.find_elements_by_xpath("//div[@class='job-tittle']//div[@class='exp col-xxs-12 col-sm-3 text-ellipsis']//span[@class='loc']")        

    for i in test_experience_tags:
        if i.text=="":
            test_experience.append("")
            break
        test_experience.append(i.text)

    driver.find_element_by_xpath("//button[@class='btn-next-prev btn-next']").click()
    time.sleep(50)
test_experience

['0-2 Years',
 '0-2 Years',
 '5-10 Years',
 '0-2 Years',
 '0-2 Years',
 '1-3 Years',
 '0-5 Years',
 '0-1 Years',
 '0-2 Years',
 '7-12 Years',
 '0-2 Years',
 '5-10 Years',
 '10-15 Years',
 '1-2 Years',
 '4-7 Years',
 '4-8 Years',
 '0-5 Years',
 '0-2 Years',
 '0-2 Years',
 '0-2 Years',
 '0-2 Years',
 '0-2 Years',
 '0-2 Years',
 '0-4 Years',
 '6-10 Years',
 '0-2 Years',
 '0-4 Years',
 '3-10 Years',
 '0-1 Years',
 '0-1 Years',
 '6-8 Years',
 '0-3 Years',
 '0-2 Years',
 '0-3 Years',
 '0-2 Years',
 '8-15 Years',
 '0-4 Years',
 '0-2 Years',
 '0-5 Years',
 '9-13 Years',
 '0-5 Years',
 '0-5 Years',
 '5-10 Years',
 '0-2 Years',
 '6-9 Years',
 '0-5 Years',
 '0-5 Years',
 '0-5 Years',
 '8-12 Years',
 '2-5 Years',
 '0-5 Years',
 '0-1 Years',
 '0-2 Years',
 '0-2 Years',
 '0-2 Years',
 '0-3 Years',
 '1-4 Years',
 '0-3 Years',
 '0-5 Years',
 '5-10 Years',
 '5-8 Years',
 '1-4 Years',
 '5-7 Years',
 '0-1 Years',
 '4-10 Years',
 '1-3 Years',
 '4-8 Years',
 '0-2 Years',
 '4-8 Years',
 '0-1 Years',
 '0-5 Years',
 '0-5 Years',
 '0-1 Years',
 '0-1 Years',
 '1-3 Years',
 '0-5 Years',
 '0-5 Years',
 '5-10 Years',
 '0-1 Years',
 '0-2 Years',
 '0-5 Years',
 '0-5 Years',
 '0-1 Years',
 '4-8 Years',
 '5-10 Years',
 '5-8 Years']

In [14]:
len(test_experience)

86