# Men's Top 10 Batting Rank

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver=webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")

In [3]:
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi"

In [4]:
driver.get(url)

In [5]:
pos=[]
name=[]
team=[]
rating=[]

In [6]:

first_position=driver.find_element_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/section[1]/div[2]/div[1]/div/div[1]/a/div/div[1]')
first_name=driver.find_element_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/section[1]/div[2]/div[1]/div/div[1]/a/div/div[2]/div[1]')
first_team=driver.find_element_by_xpath('/html/body/main/div/div[2]/div/div/section[1]/div[2]/div[1]/div/div[1]/a/div/div[2]/div[2]')
first_rating=driver.find_element_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/section[1]/div[2]/div[1]/div/div[1]/a/div/div[2]/div[2]/div[2]')

In [7]:
pos.append(first_position.text)
name.append(first_name.text)
#team.append(first_team.text[0:3])
rating.append(first_rating.text)

In [8]:

p_position=driver.find_elements_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/section[1]/div[2]/div[1]/div/table/tbody/tr/td[1]')
p_name=driver.find_elements_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/section[1]/div[2]/div[1]/div/table/tbody/tr/td[2]')
#p_team=driver.find_elements_by_xpath("//*[@id='main-content']/div/div[2]/div/div/section[1]/div[2]/div[1]/div/table/tbody/tr/td[3]")

p_rating=driver.find_elements_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/section[1]/div[2]/div[1]/div/table/tbody/tr/td[4]')
p_team=driver.find_elements_by_xpath("//*[@id='main-content']/div/div[2]/div/div/section[1]/div[2]/div[1]/div/table/tbody/tr/td[3]/span[2]")

In [9]:
import pandas as pd
top10bat=pd.DataFrame({})

In [10]:
for i in p_position:
     pos.append(i.text)
for i in p_name:
     name.append(i.text)
# for i in p_team:
#      team.append(i.text)
for i in p_rating:
     rating.append(i.text)

In [11]:
top10bat["Position"]=pos
top10bat["Name"]=name
#top10bat["Team"]=team
top10bat["Ratings"]=rating

In [12]:
top10bat

  Position                 Name Ratings
0        1          Virat Kohli     870
1        2         Rohit Sharma     842
2        3           Babar Azam     837
3        4          Ross Taylor     818
4        5          Aaron Finch     791
5        6  Francois du Plessis     790
6        7         David Warner     773
7        8      Kane Williamson     765
8        9      Quinton de Kock     755
9       10       Jonny Bairstow     754

In [13]:
teams=driver.find_elements_by_xpath("//*[@id='main-content']/div/div[2]/div/div/section[1]/div[2]/div[1]/div/table/tbody/tr/td[3]/span[2]")

In [14]:
# for i in p_team:
#      team.append(i.text)

In [15]:
#teams=driver.find_elements_by_xpath("//*[@id='main-content']/div/div[2]/div/div/section[1]/div[2]/div[1]/div/table/tbody/tr/td[3]/span[2]")
#teams=driver.find_elements_by_xpath("//span[@class='table-body__logo-text']")

In [16]:
team=[]
team.append(first_team.text[0:3])
for i in teams:
    team.append(i.get_attribute('innerHTML'))
team

['IND', 'IND', 'PAK', 'NZ', 'AUS', 'SA', 'AUS', 'NZ', 'SA', 'ENG']

//*[@id="main-content"]/div/div[2]/div/div/section[1]/div[2]/div[1]/div/table/tbody/tr[1]/td[3]/span[2]

In [18]:
top10bat["Team"]=team

In [19]:
top10bat

  Position                 Name Ratings Team
0        1          Virat Kohli     870  IND
1        2         Rohit Sharma     842  IND
2        3           Babar Azam     837  PAK
3        4          Ross Taylor     818   NZ
4        5          Aaron Finch     791  AUS
5        6  Francois du Plessis     790   SA
6        7         David Warner     773  AUS
7        8      Kane Williamson     765   NZ
8        9      Quinton de Kock     755   SA
9       10       Jonny Bairstow     754  ENG