# Men's Top 10 Bowling Rank

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver=webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")

In [3]:
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi"

In [4]:
driver.get(url)

In [5]:
pos=[]
name=[]
team=[]
rating=[]

In [6]:
#(//*[@id="main-content"]/div/div[2]/div/div/section[1]/div[2]/div[2]/div/div[1]/a/div/div[1])
first_position=driver.find_element_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/section[1]/div[2]/div[2]/div/div[1]/a/div/div[1]')
first_name=driver.find_element_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/section[1]/div[2]/div[2]/div/div[1]/a/div/div[2]/div[1]')
first_team=driver.find_element_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/section[1]/div[2]/div[2]/div/div[1]/a/div/div[2]/div[2]')
first_rating=driver.find_element_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/section[1]/div[2]/div[2]/div/div[1]/a/div/div[2]/div[2]/div[2]')

In [7]:
first_name.text,first_position.text,first_rating.text,first_team.text[0:3].replace("\n","")

('Trent Boult', '1', '722', 'NZ')

In [8]:
pos.append(first_position.text)
name.append(first_name.text)
#team.append(first_team.text[0:3])
rating.append(first_rating.text)
#(//*[@id="main-content"]/div/div[2]/div/div/section[1]/div[2]/div[2]/div/table/tbody/tr[1]/td[1])

In [9]:

p_position=driver.find_elements_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/section[1]/div[2]/div[2]/div/table/tbody/tr/td[1]')
p_name=driver.find_elements_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/section[1]/div[2]/div[2]/div/table/tbody/tr/td[2]')
#p_team=driver.find_elements_by_xpath("//*[@id='main-content']/div/div[2]/div/div/section[1]/div[2]/div[1]/div/table/tbody/tr/td[3]")

p_rating=driver.find_elements_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/section[1]/div[2]/div[2]/div/table/tbody/tr/td[4]')
p_team=driver.find_elements_by_xpath("//*[@id='main-content']/div/div[2]/div/div/section[1]/div[2]/div[2]/div/table/tbody/tr/td[3]/span[2]")

In [10]:
import pandas as pd
top10bowl=pd.DataFrame({})

In [11]:
for i in p_position:
     pos.append(i.text)
for i in p_name:
     name.append(i.text)
# for i in p_team:
#      team.append(i.text)
for i in p_rating:
     rating.append(i.text)

In [12]:
top10bowl["Position"]=pos
top10bowl["Name"]=name
#top10bat["Team"]=team
top10bowl["Ratings"]=rating

In [13]:
top10bowl

  Position              Name Ratings
0        1       Trent Boult     722
1        2  Mujeeb Ur Rahman     701
2        3    Jasprit Bumrah     700
3        4      Chris Woakes     675
4        5     Kagiso Rabada     665
5        6    Josh Hazlewood     660
6        7     Mohammad Amir     647
7        8       Pat Cummins     646
8        9        Matt Henry     641
9       10      Jofra Archer     637

In [14]:
team=[]
team.append(first_team.text[0:3].replace("\n",""))
for i in p_team:
    team.append(i.get_attribute('innerHTML'))
team

['NZ', 'AFG', 'IND', 'ENG', 'SA', 'AUS', 'PAK', 'AUS', 'NZ', 'ENG']

In [15]:
top10bowl["Team"]=team

In [16]:
top10bowl

  Position              Name Ratings Team
0        1       Trent Boult     722   NZ
1        2  Mujeeb Ur Rahman     701  AFG
2        3    Jasprit Bumrah     700  IND
3        4      Chris Woakes     675  ENG
4        5     Kagiso Rabada     665   SA
5        6    Josh Hazlewood     660  AUS
6        7     Mohammad Amir     647  PAK
7        8       Pat Cummins     646  AUS
8        9        Matt Henry     641   NZ
9       10      Jofra Archer     637  ENG