# Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
# i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver = webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")

In [3]:
url= "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

In [4]:
driver.get(url)

In [5]:
team_tags=driver.find_elements_by_xpath("//span[@class='u-hide-phablet']")
pos_tags=driver.find_elements_by_xpath("//td[@class='table-body__cell table-body__cell--position u-text-right']")
match_tags=driver.find_elements_by_xpath("//td[3][@class='table-body__cell u-center-text']")
points_tags=driver.find_elements_by_xpath("//td[4][@class='table-body__cell u-center-text']")
rating_tags=driver.find_elements_by_xpath("//td[@class='table-body__cell u-text-right rating']")

In [6]:
teams=[]
position=[]
matches=[]
ratings=[]
points=[]

first_position=driver.find_element_by_xpath("//td[@class='rankings-block__banner--pos']")
first_matches=driver.find_element_by_xpath("//td[@class='rankings-block__banner--matches']")
first_points=driver.find_element_by_xpath("//td[@class='rankings-block__banner--points']")
first_ratings=driver.find_element_by_xpath("//td[@class='rankings-block__banner--rating u-text-right']")

position.append(first_position.text)
matches.append(first_matches.text)
ratings.append(first_ratings.text)
points.append(first_points.text)

In [7]:

for i in team_tags:
    teams.append(i.text)

for i in pos_tags:
    position.append(i.text)

for i in match_tags:
    matches.append(i.text)
    
for i in rating_tags:
    ratings.append(i.text)

for i in points_tags:
    points.append(i.text)

In [8]:
Top10Teams=pd.DataFrame({})

In [9]:
Top10Teams["Position"]=position[0:10]
Top10Teams["Team Name"]=teams[0:10]
Top10Teams["Matches"]=matches[0:10]
Top10Teams["Points"]=points[0:10]
Top10Teams["Ratings"]=ratings[0:10]

In [10]:
Top10Teams

  Position     Team Name Matches Points Ratings
0        1     Australia      15  2,436     162
1        2         India      15  1,812     121
2        3       England      14  1,670     119
3        4  South Africa      16  1,713     107
4        5   New Zealand      15  1,384      92
5        6   West Indies      12  1,025      85
6        7      Pakistan      12    927      77
7        8    Bangladesh       5    306      61
8        9     Sri Lanka      11    519      47
9       10       Ireland       2     25      13