# Women's Bowling Top 10 Rank

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver=webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")

In [3]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi"

In [4]:
driver.get(url)

In [5]:
pos=[]
name=[]
team=[]
rating=[]
# (//*[@id="main-content"]/div/div[2]/div/div/div/div/div[2]/div/div[1]/a/div/div[1])

In [6]:
first_position=driver.find_element_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/div/div/div[2]/div/div[1]/a/div/div[1]')
first_name=driver.find_element_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/div/div/div[2]/div/div[1]/a/div/div[2]/div[1]')
first_team=driver.find_element_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/div/div/div[2]/div/div[1]/a/div/div[2]/div[2]')
first_rating=driver.find_element_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/div/div/div[2]/div/div[1]/a/div/div[2]/div[2]/div[2]')

In [7]:
first_position.text, first_name.text,first_team.text[0:3].replace("\n",""), first_rating.text

('1', 'Jess Jonassen', 'AUS', '804')

In [8]:
pos.append(first_position.text)
name.append(first_name.text)
#team.append(first_team.text[0:3])
rating.append(first_rating.text)

In [9]:

p_position=driver.find_elements_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/div/div/div[2]/div/table/tbody/tr/td[1]')
p_name=driver.find_elements_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/div/div/div[2]/div/table/tbody/tr/td[2]/a')
#p_team=driver.find_elements_by_xpath("//*[@id='main-content']/div/div[2]/div/div/section[1]/div[2]/div[1]/div/table/tbody/tr/td[3]")

p_rating=driver.find_elements_by_xpath('//*[@id="main-content"]/div/div[2]/div/div/div/div/div[2]/div/table/tbody/tr/td[4]')
p_team=driver.find_elements_by_xpath("//*[@id='main-content']/div/div[2]/div/div/div/div/div[2]/div/table/tbody/tr/td[3]/span[2]")

In [10]:
import pandas as pd
top10bowl=pd.DataFrame({})

In [11]:
for i in p_position:
     pos.append(i.text)
for i in p_name:
     name.append(i.text)
# for i in p_team:
#      team.append(i.text)
for i in p_rating:
     rating.append(i.text)

In [12]:
top10bowl["Position"]=pos
top10bowl["Name"]=name
#top10bowl["Team"]=team
top10bowl["Ratings"]=rating

In [13]:
top10bowl

  Position            Name Ratings
0        1   Jess Jonassen     804
1        2  Marizanne Kapp     738
2        3    Megan Schutt     735
3        4  Shabnim Ismail     717
4        5  Jhulan Goswami     691
5        6    Poonam Yadav     679
6        7   Shikha Pandey     675
7        8    Ellyse Perry     666
8        9  Anya Shrubsole     645
9       10   Deepti Sharma     639

In [14]:
team=[]
team.append(first_team.text[0:3].replace("\n",""))
for i in p_team:
    team.append(i.get_attribute('innerHTML'))
team

['AUS', 'SA', 'AUS', 'SA', 'IND', 'IND', 'IND', 'AUS', 'ENG', 'IND']

In [15]:
top10bowl["Team"]=team

In [16]:
top10bowl

  Position            Name Ratings Team
0        1   Jess Jonassen     804  AUS
1        2  Marizanne Kapp     738   SA
2        3    Megan Schutt     735  AUS
3        4  Shabnim Ismail     717   SA
4        5  Jhulan Goswami     691  IND
5        6    Poonam Yadav     679  IND
6        7   Shikha Pandey     675  IND
7        8    Ellyse Perry     666  AUS
8        9  Anya Shrubsole     645  ENG
9       10   Deepti Sharma     639  IND