# Top 10 womenâ€™s ODI all-rounder along with the records of their team and rating.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver = webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")

In [3]:
url= "https://www.icc-cricket.com/rankings/womens/player-rankings/odi"

In [4]:
driver.get(url)

In [5]:
pos=[]
name=[]
team=[]
rating=[]

In [6]:

first_name=driver.find_element_by_xpath("//div[@data-title='ODI All-Rounder Rankings']//div[@class='rankings-block__banner--name']")
first_pos=driver.find_element_by_xpath("//div[@data-title='ODI All-Rounder Rankings']//div[@class='rankings-block__banner--pos']")
first_team=driver.find_element_by_xpath("//div[@data-title='ODI All-Rounder Rankings']//div[@class='rankings-block__banner--nationality']").text
first_rating=driver.find_element_by_xpath("//div[@data-title='ODI All-Rounder Rankings']//div[@class='rankings-block__banner--rating']")

In [7]:
first_name.text,first_pos.text,first_rating.text,first_team[0:3].replace("\n","")

('Ellyse Perry', '1', '460', 'AUS')

In [8]:
pos.append(first_pos.text)
name.append(first_name.text)

rating.append(first_rating.text)

In [9]:

p_position=driver.find_elements_by_xpath('//div[@data-title="ODI All-Rounder Rankings"]//td[@class="table-body__cell table-body__cell--position u-text-right"]')
p_name=driver.find_elements_by_xpath('//div[@data-title="ODI All-Rounder Rankings"]//td[@class="table-body__cell name"]')
#p_team=driver.find_elements_by_xpath('//div[@data-link-to="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"]//span[@class="table-body__logo-text"]')
p_rating=driver.find_elements_by_xpath('//div[@data-title="ODI All-Rounder Rankings"]//td[@class="table-body__cell u-text-right rating"]')

In [10]:
for i in p_position:
     pos.append(i.text)

for i in p_name:
    name.append(i.text)

# for i in p_team:
#     team.append(i.text)
    
for i in p_rating:
    rating.append(i.text)

In [11]:
top10Women=pd.DataFrame({})

top10Women["Player Position"]=pos
top10Women["Player Name"]=name

top10Women["Rating"]=rating

In [12]:
#p_team=driver.find_elements_by_xpath('//div[@data-link-to="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"]//span[@class="table-body__logo-text"]')
p_team=driver.find_elements_by_xpath('//div[@data-title="ODI All-Rounder Rankings"]//td[@class="table-body__cell nationality-logo"]//span[@class="table-body__logo-text"]')
allteam=[]
allteam.append(first_team[0:3].replace("\n",""))
for i in p_team:
    allteam.append(i.get_attribute('innerText'))
    
allteam
#top10Women["Team"]=allteam

['AUS', 'WI', 'SA', 'IND', 'SA', 'AUS', 'NZ', 'ENG', 'IND', 'ENG']

In [13]:
len(p_team),len(allteam),len(p_rating)

(9, 10, 9)

In [14]:
p_team[5].get_attribute('innerText')

'NZ'

In [15]:
top10Women["Team"]=allteam
top10Women

  Player Position       Player Name Rating Team
0               1      Ellyse Perry    460  AUS
1               2   Stafanie Taylor    410   WI
2               3    Marizanne Kapp    389   SA
3               4     Deepti Sharma    359  IND
4               5  Dane van Niekerk    335   SA
5               6     Jess Jonassen    301  AUS
6               7     Sophie Devine    289   NZ
7               8    Natalie Sciver    273  ENG
8               9     Shikha Pandey    250  IND
9              10   Katherine Brunt    232  ENG