# Write a python program to scrape ‘software developer’ job listings from ‘Monster.com’. It should include all the jobs listed for the next 5 pages.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver = webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")

In [3]:
url = "https://www.monsterindia.com/srp/results?query=software%20developer%20&searchId=a43d3d34-8201-4f81-b729-147bce86d184"

In [4]:
driver.get(url)
import time

In [5]:
job=[]
company=[]
location=[]
experience=[]

In [6]:
location=[]
for i in range(0,5):
    job_tags=driver.find_elements_by_xpath("//*[@id='srp-right-part']/div/div[1]/div[1]/div[2]/div/div/div/div[1]/div/div/h3/a")

    for i in job_tags:
        job.append(i.text)
    #########
    company_tags=driver.find_elements_by_xpath("//span[@class='company-name']")

    for i in company_tags:
        company.append(i.text)
    ########
    location_tags=driver.find_elements_by_xpath("//*[@id='srp-right-part']/div/div[1]/div[1]/div[2]/div/div/div/div/div/div/div/div[1]/span/small")
    
    for i in location_tags:
        location.append(i.text)
    
    #########
    experience_tags=driver.find_elements_by_xpath("//*[@id='srp-right-part']/div/div[1]/div[1]/div[2]/div/div/div/div/div/div/div/div[2]/span/small")
    
    for i in experience_tags:
        experience.append(i.text)

    driver.find_element_by_xpath("//button[@class='btn-next-prev btn-next']").click()
    time.sleep(5)

In [7]:
len(job),len(company),len(location),len(experience)

(125, 125, 125, 125)

In [8]:
jobinCompany=pd.DataFrame({})

jobinCompany["Job Title"]=job
jobinCompany["Company name"]=company
jobinCompany["location"]=location
jobinCompany["experience"]=experience

In [9]:
jobinCompany

,Job Title,Company name,location,experience
0,SFCC Developer - Demandware Platform,Rohini IT Consulting LLP,Pune,3-8 Years
1,urgent hiring work from home job for (AWS Dev ...,Company Name Confidential,"Bengaluru / Bangalore, Delhi",4-10 Years
2,"Hiring ""Software Developer"" - Mumbai",HR Dynamics,"Mumbai, Mumbai City",2-6 Years
3,Software Developer,Minda Solution Tech Mark,Kolkata,0-2 Years
4,Software Developer,FedEx Trade Networks Transport and Brokerage P...,Hyderabad / Secunderabad,7-15 Years
...,...,...,...,...
120,Sr Software Developer,Search Bridge Consulting,Noida,5-10 Years
121,Hiring IT Freshers Software Engineer,Isoft It Training,Chennai,0-1 Years
122,CONTROL PLANE DEVELOPER,Company Name Confidential,Bengaluru / Bangalore,5-15 Years
123,Software Developer - Trainee,RND Softech Private Limited,Coimbatore,Fresher
124,Project Manager (Scrum Master),Winvisa Associates Private Limited,Bengaluru / Bangalore,2-5 Years