# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [ ]:
# Importing the necessary libraries and Webdrivers
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException

# Importing the Chrome driver from the path and starting the browser
driver= webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")

# Affixing the url
url="https://www.naukri.com"

# In the opened Browser we are opening the necessary url by passing the url to the driver
driver.get(url)

# Finding the element to give the search input in the job field
search_job=driver.find_element_by_name("keyword")

# Clearing the text before entering the necessary search parameter
search_job.clear()

# The search parameter that we are going to search here "Data Analyst" and sending the keys to the element "keyword"
search_job.send_keys("Data Analyst")

# Similarly we are finding the element by the name "location", clearing the search box and passing the value "Bangalore"
search_location=driver.find_element_by_name("location")
search_location.clear()
search_location.send_keys("Bangalore")

# Clicking the search button to execute the necessary search parameters
driver.find_element_by_class_name("search-btn").click()

try:
    myElem = WebDriverWait(driver, 5).until(EC.presence_of_element_located((By.ID, 'fleft pages')))
    print ("Page is ready!")
except TimeoutException:
    print ("Loading took too much time!")

# Finding the titles of the jobs by passing the xpath values inthe title_tag
title_tag=driver.find_elements_by_xpath("//div[@class='list']//article[@class='jobTuple bgWhite br4 mb-8']//div[@class='info fleft']//a[@class='title fw500 ellipsis']")

# Initialising the job Title holder
job_title=[]

# Running the for loop and limiting the title tag to first 10 locaitons
for i in title_tag[0:10]:
# Appending the title to Job_title
    job_title.append(i.text)
print(job_title)

# Finding the location_tag field by passing the values in the xpath

location_tag=driver.find_elements_by_xpath("//div[@class='info fleft']//ul[@class='mt-7']//li[@class='fleft grey-text br2 placeHolderLi location']//span[@class='ellipsis fleft fs12 lh16']")

# Initialising the job_location field
job_location=[]

#Running the for loop of first 10 values of location_tag and appending the text in the job_location field company name field

for i in location_tag[0:10]:
    job_location.append(i.text)
print(job_location)


# Finding the company_tag field by passing the values in the xpath
company_tag=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']//a[@class='subTitle ellipsis fleft']")

# Initialising the company name field
company_name=[]

#Running the for loop to store the first 10 values of company tag in company name field
for i in company_tag[0:10]:
    company_name.append(i.text)
print(company_name)

# Finding the experience tag by passing the xpath values
experience_tag=driver.find_elements_by_xpath("//ul[@class='mt-7']//li[@class='fleft grey-text br2 placeHolderLi experience']//span[@class='ellipsis fleft fs12 lh16']")

# Initialising the Experience Required field
experience_required=[]

#Running the for loop to store the first 10 values of experience tag in experience required field
for i in experience_tag[0:10]:
    experience_required.append(i.text)
print(experience_required)

# importing the pandas library to create a dataframe to store all the Data Analyst jobs available in 
# Bangalore in DataBangalore dataframe
import pandas as pd
DataAnalyst_Bangalore=pd.DataFrame({})

DataAnalyst_Bangalore["Title"]=job_title
DataAnalyst_Bangalore["Location"]=job_location
DataAnalyst_Bangalore["Company Name"]=company_name
DataAnalyst_Bangalore["Experience"]=experience_required
DataAnalyst_Bangalore

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [ ]:
# Importing the necessary libraries and Webdrivers
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException

# Importing the Chrome driver from the path and starting the browser
driver= webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")

# Affixing the url
url="https://www.naukri.com"

# In the opened Browser we are opening the necessary url by passing the url to the driver
driver.get(url)

# Finding the element to give the search input in the job field
search_job=driver.find_element_by_name("keyword")

# Clearing the text before entering the necessary search parameter
search_job.clear()

# The search parameter that we are going to search here "Data Analyst" and sending the keys to the element "keyword"
search_job.send_keys("Data Scientist")

# Similarly we are finding the element by the name "location", clearing the search box and passing the value "Bangalore"
search_location=driver.find_element_by_name("location")
search_location.clear()
search_location.send_keys("Bangalore")

# Clicking the search button to execute the necessary search parameters
driver.find_element_by_class_name("search-btn").click()

try:
    myElem = WebDriverWait(driver, 5).until(EC.presence_of_element_located((By.ID, 'fleft pages')))
    print ("Page is ready!")
except TimeoutException:
    print ("Loading took too much time!")
    
parentHandle = driver.window_handles[0]

positions = driver.find_elements_by_xpath('//article[@class = "jobTuple bgWhite br4 mb-8"]')

# Finding the titles of the jobs by passing the xpath values inthe title_tag
title_tag=driver.find_elements_by_xpath("//div[@class='list']//article[@class='jobTuple bgWhite br4 mb-8']//div[@class='info fleft']//a[@class='title fw500 ellipsis']")

# Initialising the job Title holder
job_title=[]

# Running the for loop and limiting the title tag to first 10 locaitons
for i in title_tag[0:10]:
# Appending the title to Job_title
    job_title.append(i.text)
print(job_title)

# Finding the location_tag field by passing the values in the xpath

location_tag=driver.find_elements_by_xpath("//div[@class='info fleft']//ul[@class='mt-7']//li[@class='fleft grey-text br2 placeHolderLi location']//span[@class='ellipsis fleft fs12 lh16']")

# Initialising the job_location field
job_location=[]

#Running the for loop of first 10 values of location_tag and appending the text in the job_location field company name field

for i in location_tag[0:10]:
    job_location.append(i.text)
print(job_location)


# Finding the company_tag field by passing the values in the xpath
company_tag=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']//a[@class='subTitle ellipsis fleft']")

# Initialising the company name field
company_name=[]

#Running the for loop to store the first 10 values of company tag in company name field
for i in company_tag[0:10]:
    company_name.append(i.text)
print(company_name)

time.sleep(3)
url=driver.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/a")
urls=[]
for i in url[0:10]:
    urls.append(i.get_attribute('href'))
# Since the length of description is showing 166 for now I have decided to just add the link to the description

#     for i in urls:
#         driver.get(i)
#         time.sleep(3)
#         desc=driver.find_elements_by_xpath("//*[@id='root']/main/div[2]/div[2]/section[2]/div[1]/p")
#         for i in desc:
#             full_desc.append(i.get_attribute("innerText"))
# urls

# full_desc=[]
# for i in urls:
#     driver.get(i)
#     time.sleep(3)
#     desc=driver.find_elements_by_xpath("//*[@id='root']/main/div[2]/div[2]/section[2]/div[1]/p")
#     for i in desc:
#         full_desc.append(i.get_attribute("innerText"))
# full_desc

import pandas as pd
DataScientist_Bangalore=pd.DataFrame({})

DataScientist_Bangalore["Title"]=job_title
DataScientist_Bangalore["Location"]=job_location
DataScientist_Bangalore["Company Name"]=company_name
DataScientist_Bangalore["Description Link"]=urls
DataScientist_Bangalore

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

# You have to scrape data for “Data Scientist” designation for first 10 job results.
# You have to scrape the job-title, job-location, company_name, experience_required.
# The location filter to be used is “Delhi/NCR”
# The salary filter to be used is “3-6” lakhs

In [382]:
# Importing the necessary libraries and Webdrivers
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException

# Importing the Chrome driver from the path and starting the browser
driver= webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")

# Affixing the url
url="https://www.naukri.com"

# In the opened Browser we are opening the necessary url by passing the url to the driver
driver.get(url)

# Finding the element to give the search input in the job field
search_job=driver.find_element_by_name("keyword")

# Clearing the text before entering the necessary search parameter
search_job.clear()

# The search parameter that we are going to search here "Data Analyst" and sending the keys to the element "keyword"
search_job.send_keys("Data Scientist")
time.sleep(3)

# # Similarly we are finding the element by the name "location", clearing the search box and passing the value "Bangalore"
search_location=driver.find_element_by_name("location")
search_location.clear()
search_location.send_keys("Delhi/NCR")

# Clicking the search button to execute the necessary search parameters
driver.find_element_by_class_name("search-btn").click()

try:
    myElem = WebDriverWait(driver, 5).until(EC.presence_of_element_located((By.ID, 'fleft pages')))
    print ("Page is ready!")
except TimeoutException:
    print ("Loading took too much time!")

status= driver.find_element_by_xpath("//*[@id='root']/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/i").click()
time.sleep(5)
driver.find_element_by_xpath("//*[@id='root']/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/i").click()


time.sleep(5)
# Finding the titles of the jobs by passing the xpath values inthe title_tag
title_tag=driver.find_elements_by_xpath("//div[@class='list']//article[@class='jobTuple bgWhite br4 mb-8']//div[@class='info fleft']//a[@class='title fw500 ellipsis']")

# Initialising the job Title holder
job_title=[]

# Running the for loop and limiting the title tag to first 10 locaitons
for i in title_tag[0:10]:
# Appending the title to Job_title
    job_title.append(i.text)
print(job_title)

# Finding the location_tag field by passing the values in the xpath

location_tag=driver.find_elements_by_xpath("//div[@class='info fleft']//ul[@class='mt-7']//li[@class='fleft grey-text br2 placeHolderLi location']//span[@class='ellipsis fleft fs12 lh16']")

# Initialising the job_location field
job_location=[]

#Running the for loop of first 10 values of location_tag and appending the text in the job_location field company name field

for i in location_tag[0:10]:
    job_location.append(i.text)
print(job_location)


# Finding the company_tag field by passing the values in the xpath
company_tag=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']//a[@class='subTitle ellipsis fleft']")

# Initialising the company name field
company_name=[]

#Running the for loop to store the first 10 values of company tag in company name field
for i in company_tag[0:10]:
    company_name.append(i.text)
print(company_name)

# Finding the experience tag by passing the xpath values
experience_tag=driver.find_elements_by_xpath("//ul[@class='mt-7']//li[@class='fleft grey-text br2 placeHolderLi experience']//span[@class='ellipsis fleft fs12 lh16']")

# Initialising the Experience Required field
experience_required=[]

#Running the for loop to store the first 10 values of experience tag in experience required field
for i in experience_tag[0:10]:
    experience_required.append(i.text)
print(experience_required)

# importing the pandas library to create a dataframe to store all the Data Analyst jobs available in 
# Delji in DS_Delhi dataframe
import pandas as pd
DS_Delhi=pd.DataFrame({})

DS_Delhi["Title"]=job_title
DS_Delhi["Location"]=job_location
DS_Delhi["Company Name"]=company_name
DS_Delhi["Experience"]=experience_required
DS_Delhi

Loading took too much time!
['Data Scientist - Commercial Planning and Analysis', 'GCP Skilled Analytics Resources (Data engineer / Data scientists)', 'Data Scientist', 'Data Scientist Machine Learning', 'Business Analyst - Data Scientist', 'Analyst - Data Scientist', 'Only Fresher / Data Scientist / Data Analyst / Business Analytics- MNC', 'Data Scientist', 'Data Scientist', 'Data Analyst/Scientist']
['Delhi NCR, Gurgaon', 'Pune, Bengaluru, Gurgaon', 'Gurgaon Gurugram', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Delhi NCR, Noida, Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon']
['Air Asia India Limited', 'Aerial Telecom Solutions Pvt. Ltd.', 'IBM India Pvt. Limited', 'Delhivery', 'HyreFox Consultants Pvt Ltd', 'HyreFox Consultants Pvt Ltd', 'GABA Consultancy services', 'T & A Solutions', 'itForte Staffing Services Private Ltd.', 'itForte Staffing Services Private Ltd.']
['1-6 Yrs', '3-8 Yrs', '3-5 Yrs', '1-3 Yrs', '3-5 Yrs', '1-3 Yrs', '0-0 Yrs', '1-6 Yrs', '3-8 Yrs', '3-7 Yrs']

,Title,Location,Company Name,Experience
0,Data Scientist - Commercial Planning and Analysis,"Delhi NCR, Gurgaon",Air Asia India Limited,1-6 Yrs
1,GCP Skilled Analytics Resources (Data engineer...,"Pune, Bengaluru, Gurgaon",Aerial Telecom Solutions Pvt. Ltd.,3-8 Yrs
2,Data Scientist,Gurgaon Gurugram,IBM India Pvt. Limited,3-5 Yrs
3,Data Scientist Machine Learning,Gurgaon,Delhivery,1-3 Yrs
4,Business Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,3-5 Yrs
5,Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,1-3 Yrs
6,Only Fresher / Data Scientist / Data Analyst /...,"Delhi NCR, Noida, Gurgaon",GABA Consultancy services,0-0 Yrs
7,Data Scientist,Gurgaon,T & A Solutions,1-6 Yrs
8,Data Scientist,Gurgaon,itForte Staffing Services Private Ltd.,3-8 Yrs
9,Data Analyst/Scientist,Gurgaon,itForte Staffing Services Private Ltd.,3-7 Yrs

# Q4:Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [381]:
# Importing the necessary libraries and Webdrivers
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
import time
# Importing the Chrome driver from the path and starting the browser
driver= webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")

# Affixing the url
url="https://www.glassdoor.co.in/index.htm"
username='nayeemsyed@hotmail.com'
password='Fliprobo'

# In the opened Browser we are opening the necessary url by passing the url to the driver
driver.get(url)

time.sleep(3)
try:
    driver.find_element_by_xpath("//*[@id='TopNav']/nav/div/div/div[4]/div[1]/a").click()
except NoSuchElementException:
    print("loading taking time")

driver.find_element_by_id('userEmail').send_keys(username)
driver.find_element_by_id('userPassword').send_keys(password)
time.sleep(3)
driver.find_element_by_name('submit').click()
time.sleep(2)

# Finding the element to give the search input in the job field
search_job=driver.find_element_by_id("sc.keyword")

# Clearing the text before entering the necessary search parameter
search_job.clear()

# The search parameter that we are going to search here "Data Analyst" and sending the keys to the element "keyword"
search_job.send_keys("Data Scientist")

# # Similarly we are finding the element by the name "location", clearing the search box and passing the value "Bangalore"
# search_location=driver.find_element_by_name("location")
# search_location.clear()
# search_location.send_keys("Delhi/NCR")
time.sleep(3)
# Clicking the search button to execute the necessary search parameters

driver.find_element_by_xpath('/html/body/header/nav[1]/div/div/div/div[4]/div[3]/form/div/button').click()

try:
    myElem = WebDriverWait(driver, 5).until(EC.presence_of_element_located((By.CLASS_NAME, 'menuLinks col-6 col-sm-3 col-md-2 order-2 pb-sm')))
    print ("Page is ready!")
except TimeoutException:
    print ("Loading took too much time!")

time.sleep(4)

# Try catch statement is used because the frame element doesn't load everytime.
try:
    driver.find_element_by_xpath('//*[@id="JAModal"]/div/div[2]/span').click()
except NoSuchElementException as e:
    print("continuing since no frame loaded this time")
time.sleep(2)

# Creating the tags for all the necessary values to extract
ratings=driver.find_elements_by_xpath('/html/body/div[3]/div/div/div[1]/div/div[2]/section/article/div[1]/ul/li/div[1]')
days_tag=driver.find_elements_by_xpath("//div[@data-test='job-age']")
company_tag=driver.find_elements_by_xpath('/html/body/div[3]/div/div/div[1]/div/div[2]/section/article/div[1]/ul/li/div[2]/div/a')

# Saving the text from the tags to a list
job_rating=[]
for i in ratings[0:10]:
    job_rating.append(i.text)

company_name=[]
for i in company_tag[0:10]:
    company_name.append(i.text)

days_posted=[]
for i in days_tag[0:10]:
    days_posted.append(i.text)

# creating a Dataframe to add the extracted values of a list into a Dataframe
Glassdoor=pd.DataFrame({})
Glassdoor["Name of the company"]=company_name
Glassdoor["Days Posted"]=days_posted
Glassdoor["Ratings"]=job_rating
Glassdoor["Ratings"]=Glassdoor["Ratings"].replace("","No Ratings")
Glassdoor

Loading took too much time!
continuing since no frame loaded this time

         Name of the company Days Posted     Ratings
0  CarbyneTech India Pvt Ltd         10d         3.1
1   Globex Digital Solutions          5d         3.4
2        Cadent Therapeutics         24h  No Ratings
3     Vistan NextGen Pvt Ltd          1d  No Ratings
4        Cadent Therapeutics         24h  No Ratings
5        Cadent Therapeutics         24h  No Ratings
6  Cambridge Technology Inc.          6d           4
7          Whitespace Health        30d+  No Ratings
8                   Novartis         24h         4.1
9                  Microsoft          6d         4.4

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
# You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [380]:

    
# Importing the necessary libraries and Webdrivers
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
import time
import pandas as pd
# Importing the Chrome driver from the path and starting the browser
driver= webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")

# Affixing the url
url="https://www.glassdoor.co.in/Salaries/index.htm"
username='nayeemsyed@hotmail.com'
password='Fliprobo'

# In the opened Browser we are opening the necessary url by passing the url to the driver
driver.get(url)

time.sleep(3)
try:
    #driver.find_element_by_xpath("//a[@class='track-click gd-btn-locked-transparent susiLink sign-in strong nowrap']").click()
    driver.find_element_by_xpath("//*[@id='TopNav']/nav/div/div/div[4]/div[1]/a").click()
except NoSuchElementException:
    print("loading taking time")

# Finding the element to give the search input in the job field
search_job=driver.find_element_by_id("KeywordSearch")

# Clearing the text before entering the necessary search parameter
search_job.clear()

# The search parameter that we are going to search here "Data Scientist" and sending the keys to the element "keyword"
search_job.send_keys("Data Scientist")

time.sleep(3)

driver.find_element_by_id('HeroSearchButton').click()

time.sleep(3)

minsal_tag=driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container "]//span[1]')
maxsal_tag=driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container "]//span[2]')
average_tag=driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]')
numsalary_tag=driver.find_elements_by_xpath('//div[@class="d-flex"]//div[2]/p[5]')
comp_tag=driver.find_elements_by_xpath('//div[@class="d-flex"]//div[2]/p[2]')

min_salary=[]
max_salary=[]
average_salary=[]
number_salary=[]
comp_name=[]
for i in minsal_tag[0:10]:
    min_salary.append(i.text)

for i in maxsal_tag[0:10]:
    max_salary.append(i.text)

for i in average_tag[0:10]:
    average_salary.append(i.text)

for i in numsalary_tag[0:10]:
    number_salary.append(i.text)

for i in comp_tag[0:10]:
    comp_name.append(i.text)
    
import pandas as pd
GD_salary=pd.DataFrame({})

GD_salary["Company Name"]=comp_name
GD_salary["No. of Salaries"]=number_salary

GD_salary["Minimum Salary"]=min_salary
GD_salary["Average Salaries"]=average_salary
GD_salary["Maximum Salary"]=max_salary

GD_salary

loading taking time

,Company Name,No. of Salaries,Minimum Salary,Average Salaries,Maximum Salary
0,Cyient,14 salaries,₹115K,"₹ 10,29,318\n/yr","₹2,014K"
1,Microsoft,10 salaries,"₹1,300K","₹ 17,46,645\n/yr","₹3,300K"
2,Quadratic Insights,9 salaries,₹355K,"₹ 5,64,728\n/yr","₹1,500K"
3,Infosys,8 salaries,₹214K,"₹ 5,15,962\n/yr","₹1,772K"
4,Amazon,7 salaries,₹900K,"₹ 16,72,738\n/yr","₹2,300K"
5,Accenture,6 salaries,₹573K,"₹ 13,00,350\n/yr","₹1,642K"
6,Karvy,6 salaries,₹445K,"₹ 5,87,140\n/yr","₹1,405K"
7,Jotter,6 salaries,₹839K,"₹ 9,27,737\n/yr","₹1,109K"
8,Optum,5 salaries,₹848K,"₹ 13,11,484\n/yr","₹1,500K"
9,Innominds Software,5 salaries,₹141K,"₹ 7,76,988\n/yr","₹1,354K"

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#     1. Brand
#     2. Product Description
#     3. Price
#     4. Discount %

In [379]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
import time
import pandas as pd

driver= webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")

url="http://www.flipkart.com"

driver.get(url)

time.sleep(3)

from selenium.webdriver.common.keys import Keys
driver.find_element_by_tag_name('body').send_keys(Keys.ESCAPE)
time.sleep(3)
search = driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys("sunglasses")
search.find_element_by_xpath('//button').click()

FK=pd.DataFrame({})
prod_name=[]
prod_desc=[]
prod_price=[]
prod_disc=[]
prod_percent=[]

for j in range(0,3):
    time.sleep(3)
    prod_name_tag=driver.find_elements_by_xpath('//div[@class="_2pi5LC col-12-12"]//div[@class="_2B099V"]//div[@class="_2WkVRV"]')
    prod_desc_tag=driver.find_elements_by_xpath('//div[@class="_2pi5LC col-12-12"]//div[@class="_2B099V"]//a[1]')
    #prod_desc_tag=driver.find_elements_by_xpath('//div[@class="_2pi5LC col-12-12"]//div[@class="_2B099V"]//a[contains(., "IRpwTa")]')
    prod_price_tag=driver.find_elements_by_xpath('//div[@class="_2pi5LC col-12-12"]//div[@class="_2B099V"]//div[@class="_30jeq3"]')
    prod_disc_tag=driver.find_elements_by_xpath('//div[@class="_2pi5LC col-12-12"]//div[@class="_2B099V"]//div[@class="_3I9_wc"]')
    prod_percent_tag=driver.find_elements_by_xpath('//div[@class="_2pi5LC col-12-12"]//div[@class="_2B099V"]//div[@class="_3Ay6Sb"]')
    
    for i in prod_name_tag:
        prod_name.append(i.text)
    
    for i in prod_desc_tag:
        prod_desc.append(i.text)

    for i in prod_price_tag:
        prod_price.append(i.text)

    for i in prod_disc_tag:
        prod_disc.append(i.text)
    
    for i in prod_percent_tag:
        prod_percent.append(i.text)
    k=j+2
    next_page="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page="+str(k)
    driver.get(next_page)
    time.sleep(2)
import pandas as pd

FK["Name"]=prod_name
FK["Description"]=prod_desc
FK["Price of the product"]=prod_price
FK["Before Discount Price"]=prod_disc
FK["Percentage off"]=prod_percent
FK

,Name,Description,Price of the product,Before Discount Price,Percentage off
0,Adrenex,"Polarized, UV Protection Sports Sunglasses (60)",₹629,"₹2,999",79% off
1,Adrenex,"Polarized, UV Protection Sports Sunglasses (60)",₹629,"₹2,999",79% off
2,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹199,"₹1,300",84% off
3,shah collections,"UV Protection, Polarized, Mirrored Rectangular...",₹219,₹999,78% off
4,Phenomenal,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,"₹1,999",80% off
...,...,...,...,...,...
115,shah collections,UV Protection Aviator Sunglasses (53),₹181,"₹1,299",86% off
116,shah collections,Mirrored Round Sunglasses (53),₹214,"₹1,499",85% off
117,ROZZETTA CRAFT,"UV Protection, Mirrored Round Sunglasses (Free...",₹404,"₹2,665",84% off
118,Yumato,Polarized Sports Sunglasses (21),₹499,"₹1,324",62% off
119,Royal Son,Mirrored Aviator Sunglasses (55),₹379,"₹1,499",74% off


# "Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone"

In [375]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
import time
import pandas as pd

driver= webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")

url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"

driver.get(url)

time.sleep(3)

driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[8]/div[7]/div/a').click()

time.sleep(3)

#Creating a Dataframe and the list that is going to store the extracted values 
iPhone=pd.DataFrame({})
ratings=[]
short_review=[]
long_review=[]

for j in range(0,11):
    print("value of j is : ", j)
    time.sleep(3)

    ratings_tag=driver.find_elements_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div/div/div/div/div[1]/div')
    short_review_tag= driver.find_elements_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div/div/div/div/div[1]/p')
    long_review_tag= driver.find_elements_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div/div/div/div/div[2]/div/div/div')


    for i in ratings_tag[2:]:
        ratings.append(i.text)
    for i in short_review_tag:
        short_review.append(i.text)
    for i in long_review_tag:
        long_review.append(i.text)
#For the next page we are incrementing the value of k by adding 2 to j value since the page counter starts from 2 and then creating a 
#driver with the new url
    k=j+2
    next_url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page='+str(k)
    driver.get(next_url)
        
iPhone["Ratings"]=ratings
iPhone["Short Reviews"]=short_review
iPhone["Long Reviews"]=long_review
iPhone

value of j is :  0
value of j is :  1
value of j is :  2
value of j is :  3
value of j is :  4
value of j is :  5
value of j is :  6
value of j is :  7
value of j is :  8
value of j is :  9
value of j is :  10

,Ratings,Short Reviews,Long Reviews
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
3,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
4,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
...,...,...,...
105,4,Delightful,I was using iPhone 6s from a long time and I’v...
106,5,Simply awesome,Osm & fabulous phone..just upgraded from iPhon...
107,5,Super!,Thanx Flipkart giving fast delivery with genui...
108,5,Great product,Terrific!!! Lucky to get this phone in first l...
109,5,Super!,brilliant design I personally liked red colour...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
# You have to scrape 4 attributes of each sneaker :
# 1. Brand
# 2. Product Description
# 3. Price
# 4. discount %

In [373]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
import time
import pandas as pd

driver= webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")

url="http://www.flipkart.com"

driver.get(url)

time.sleep(3)

from selenium.webdriver.common.keys import Keys
driver.find_element_by_tag_name('body').send_keys(Keys.ESCAPE)
time.sleep(3)
search = driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys("sneakers")
search.find_element_by_xpath('//button').click()


FK_sneakers=pd.DataFrame({})
prod_name_sneakers=[]
prod_desc_sneakers=[]
prod_price_sneakers=[]
prod_disc_sneakers=[]
prod_percent_sneakers=[]

# nextpage=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/span[contains(text(),'NEXT')]/a")
# nextpage.click()

for j in range(0,3):
    
    time.sleep(3)
    tag=driver.find_elements_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div/div[3]/div/div')
    prod_name_tag=driver.find_elements_by_xpath('//div[@class="_2pi5LC col-12-12"]//div[@class="_2B099V"]//div[@class="_2WkVRV"]')
    prod_desc_tag=driver.find_elements_by_xpath('//div[@class="_2pi5LC col-12-12"]//div[@class="_2B099V"]//a[1]')
    #prod_desc_tag=driver.find_elements_by_xpath('//div[@class="_2pi5LC col-12-12"]//div[@class="_2B099V"]//a[contains(., "IRpwTa")]')
    prod_price_tag=driver.find_elements_by_xpath('//div[@class="_2pi5LC col-12-12"]//div[@class="_2B099V"]//div[@class="_30jeq3"]')
#     prod_disc_tag=driver.find_elements_by_xpath('//div[@class="_2pi5LC col-12-12"]//div[@class="_2B099V"]//div[@class="_3I9_wc"]')
    prod_percent_tag=driver.find_elements_by_xpath('//div[@class="_2pi5LC col-12-12"]//div[@class="_2B099V"]//div[@class="_3Ay6Sb"]')

    for i in prod_name_tag:
        prod_name_sneakers.append(i.text)
    
    for i in prod_desc_tag:
        prod_desc_sneakers.append(i.text)

    for i in prod_price_tag:
        prod_price_sneakers.append(i.text)
    
    for i in prod_percent_tag:
        prod_percent_sneakers.append(i.text)
    k=j+2
    next_page="https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page="+str(k)
    driver.get(next_page)
print(len(prod_name_sneakers),len(prod_desc_sneakers),len(prod_price_sneakers),len(prod_percent_sneakers))
import pandas as pd

FK_sneakers["Name"]=prod_name_sneakers[0:100]
FK_sneakers["Description"]=prod_desc_sneakers[0:100]
FK_sneakers["Price of the product"]=prod_price_sneakers[0:100]
#FK_sneakers["Before Discount Price"]=prod_disc_sneakers
FK_sneakers["Percentage off"]=prod_percent_sneakers[0:100]
FK_sneakers[0:100]

120 120 120 119

,Name,Description,Price of the product,Percentage off
0,OXPEO,Colourblocked Trending Multicolor Ultralight c...,₹399,60% off
1,Metronaut,Casuals Sneakers For Men,₹699,46% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹499,75% off
3,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹499,75% off
4,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹399,60% off
...,...,...,...,...
95,Robbie jones,Sneakers For Men,₹405,59% off
96,World Wear Footwear,Men 5014 Latest Collection Stylish Casual Spor...,₹240,51% off
97,Essence,Sneakers For Men,₹579,42% off
98,Aura,Combo Pack of 3 Casual Shoes Sneakers For Men,₹754,49% off
99,Calcados,Trendy Fashion Combo Pack of 4 Sneakers For Men,₹798,60% off

# Q9: Go to the link - https://www.myntra.com/shoes
# Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

In [342]:
# Importng the libraries 
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
import time
import pandas as pd

#Creating the webdriver and passing the url 
driver= webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")

url=" https://www.myntra.com/shoes"

driver.get(url)

time.sleep(3)

# Creating the tags for the filter and color and clicking on those since the path associtaed with is a checkbox
filter_tag=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label').click()
time.sleep(3)
color_tag=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label').click()
time.sleep(3)

product_name=[]
product_desc=[]
product_price=[]
final_price=[]

for pages in range(0,2):
    product_name_tag=driver.find_elements_by_xpath("//*[@id='desktopSearchResults']/div[2]/section/ul/li/a/div[2]/h3")
    product_desc_tag=driver.find_elements_by_xpath("//*[@id='desktopSearchResults']/div[2]/section/ul/li/a/div[2]/h4[1]")
    product_price_tag=driver.find_elements_by_xpath("//*[@id='desktopSearchResults']/div[2]/section/ul/li/a/div[2]/div/span[1]")
       

    for product in product_name_tag:
        product_name.append(product.text)
    
    for product in product_desc_tag:
        product_desc.append(product.text)

    for j in product_price_tag:
        product_price.append(j.text)
# Clicking on the xpath that corelates to the next page
    next_page=driver.find_element_by_class_name('pagination-next').click()
    time.sleep(5)

# Splitting the price at 'Rs.' and at the second instance and then stripping the other values to just get the value 
# of discounted price and not the both discounted price and striked price
for i in product_price:
    split_price=i.split("Rs.")[1].strip()
    final_price.append(split_price)


import pandas as pd

Myntra=pd.DataFrame({})
Myntra["Product Name"]=product_name
Myntra["Product Description"]=product_desc
Myntra["Product Price"]=final_price
Myntra

            Product Name             Product Description Product Price
0                   Nike          Men Zoom Running Shoes          6399
1                   Nike    Men Solid SKYVE MAX Sneakers          6599
2                   Nike   PEGASUS FLYEASE Running Shoes          7999
3                   Nike       Men REACT PHANTOM Running          7799
4                   Nike       Men JORDAN DELTA Sneakers         10995
..                   ...                             ...           ...
95        Tommy Hilfiger   Women Solid Flatform Sneakers          6839
96        Tommy Hilfiger  Men Iconic Mix Runner Sneakers          6399
97  Heel & Buckle London             Men Leather Loafers          6293
98  Heel & Buckle London               Women Block Heels          6392
99  Heel & Buckle London               Women Suede Pumps          6293

[100 rows x 3 columns]

      Product Name            Product Description Product Price
0             Nike         Men Zoom Running Shoes          6399
1             Nike   Men Solid SKYVE MAX Sneakers          6599
2             Nike     Men React Infinity Running         11099
3             Nike      Men JORDAN DELTA Sneakers         10995
4             Nike  PEGASUS FLYEASE Running Shoes          7999
..             ...                            ...           ...
95    UNDER ARMOUR  Charged Impulse Running Shoes          7999
96            Xtep     AIR MEGA Energy Ring Shoes          5949
97            FILA             Men Solid Sneakers          7499
98  Tommy Hilfiger  Women Solid Flatform Sneakers          6839
99            Vans                Unisex Sneakers          6999

[100 rows x 3 columns]

# Q10: Go to webpage https://www.amazon.in/
# Enter “Laptop” in the search field and then click the search icon.
# Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

In [341]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
import time
import pandas as pd
from selenium.webdriver.common.keys import Keys

driver= webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")

url=" https://www.amazon.in"

driver.get(url)

time.sleep(3)

search_tag=driver.find_element_by_id("twotabsearchtextbox")
search_tag.send_keys("Laptop")
driver.find_element_by_id("nav-search-submit-button").click()

time.sleep(3)
# Creating the filter tag for Intel Core i7 and i9
filter_tag_1=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/div/label').click()
time.sleep(4)
filter_tag_2=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label').click()
time.sleep(3)

#Creating the tags for the attributes name, rating and price
lap_name_tag=driver.find_elements_by_xpath('//*[@id="search"]/div[1]/div[2]/div/span[3]/div[2]/div/div/span/div/div/div[2]/div[2]/div/div[1]/div/div/div[1]/h2/a/span')
lap_rating_tag=driver.find_elements_by_xpath('//*[@id="search"]/div[1]/div[2]/div/span[3]/div[2]/div/div/span/div/div/div[2]/div[2]/div/div[1]/div/div/div[2]/div/span[1]/span/a/i[1]/span')
lap_price_tag=driver.find_elements_by_xpath('//*[@id="search"]/div[1]/div[2]/div/span[3]/div[2]/div/div/span/div/div/div[2]/div[2]/div/div[2]/div[1]/div/div[1]/div[1]/div/div/a/span[1]')

lap_name=[]
lap_rating=[]
lap_price=[]
for i in lap_rating_tag[0:10]:
    time.sleep(1)
#Since the value is insde the innerText attribute we have to extract the text using get_attribute method
    if i.get_attribute("innerText")=="":
        lap_rating.append("No Rating")
    else:
        lap_rating.append(i.get_attribute("innerText"))
for i in lap_name_tag[0:10]:
    lap_name.append(i.text)
for i in lap_price_tag[0:10]:
    lap_price.append(i.text)

import pandas as pd
Laptop=pd.DataFrame({})
Laptop["Name"]=lap_name
Laptop["Rating"]=lap_rating
Laptop["price"]=lap_price
Laptop

,Name,Rating,price
0,HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...,3.6 out of 5 stars,"₹74,990"
1,Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i...,3.8 out of 5 stars,"₹74,990"
2,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,5.0 out of 5 stars,"₹2,68,329"
3,ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...,4.3 out of 5 stars,"₹95,590"
4,HP Pavilion x360 Core i7 8th Gen 14-inch Touch...,4.1 out of 5 stars,"₹85,990"
5,Dell G3 3500 Gaming 15.6inch 120hz FHD Display...,3.7 out of 5 stars,"₹82,990"
6,"ASUS ROG Strix G17 17.3"" FHD 120Hz Intel Core ...",4.2 out of 5 stars,"₹1,02,990"
7,Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...,3.3 out of 5 stars,"₹96,450"
8,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.2 out of 5 stars,"₹54,899"
9,HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...,4.2 out of 5 stars,"₹75,693"